body {
  font: 14px "Century Gothic", Futura, sans-serif;
  color: #fff;
  background-color: #a2919e;
}
.game {
  width: auto;
  height: auto;
  display: grid;
  padding: 1.2rem;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .game {
    grid-template:
      "header"
      "board"
      "info";
  }
  .game-info {
    grid-area: info;
    margin: 5px auto;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .game {
    grid-template:
      "header header"
      "board info";
  }
  .game-info {
    grid-area: info;
  }
}
.header {
  grid-area: header;
  margin: 1rem auto;
  font-size: 6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.game-board {
  grid-area: board;
  width: 30rem;
  height: 30rem;
  margin: 1rem auto;
  background-color: #34495e;
  color: #fff;
  border: 0.4rem solid #2c3e50;
  border-radius: 0.6rem;

  display: grid;
  grid-template: repeat(3, 0.8fr) / repeat(3, 1fr);
}

.square {
  border: 0.1rem solid #2c3e50;
  border-radius: 0.05rem;
  background: none;
  color: #fff;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square:focus {
  outline: none;
}
.square-win {
  background: #555555;
}

.status {
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-display: inherit;
  font-weight: bold;
}
.move-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.move-list li {
  counter-increment: step-counter;
  margin-bottom: 10px;
}
.move-list li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}

li > button {
  background: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #fff;
}
li > button:focus {
  outline: none;
}
